<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" description="Compare ASR and FQSR student view reports with site level transportation register to get attendance and transportation discrepancies" name="Compare Wave Reports" version="0.3.0" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
<publisher name="J. Zuvanich">
<contact email="zuvanjq@tulsaschools.org"/>
</publisher>
</plugin>
